h1 {
    color: #8a008ab6;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (min-width:768px) {
    h1 {
        color: green;
        font-size: 100px;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        color: gold;
        border: solid 1px black;
    }
}