.contenedor {
    height: 200px;
    background-color: #74086eb4;
    display: flex;
    color: #ff0040;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    flex-flow: row wrap;
    /* flex-flow: engloba flex wrap y flex flow */
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.contenedor div {
    padding: 8px;
    border: solid 2px red;
    background-color: aquamarine;
}

.item-1 {
    font-size: 30px;
    order: 3;
}

.item-2 {
    font-size: 5px;
}

.item-5 {
    font-size: 40px;
}