$var: 20px;
$var2: 40px;

$nombre-rodro: Rodrigo;

$lista-nombres: juan, roberto, panflino, putodemierda, maricon;
$lsta-colores: red, yellow, green, blue;

// variable maps

$redes: (
    facebook: blue,
    twitter: lightblue,
    instagram: violet,
);