* {
  margin: 0;
  padding: 0; }

header {
  background-color: darkviolet; }
  header nav {
    color: #2eff9e; }

main {
  background-color: darkred; }
  main div {
    background-color: #2eff9e; }
  main p {
    color: #c1e205;
    font-size: 1.5em; }
    main p span {
      color: aqua; }
      main p span:hover {
        color: green;
        font-size: 2em; }
